*{
    margin: 0
}

body{
    background: linear-gradient(180deg, rgb(129, 125, 74), rgb(42, 95, 116));
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info{
    display: grid;
    justify-content: center;
    align-items: center;
}

.info .startPause {
    display: flex;
    justify-content: center;
    color: rgb(255, 255, 255);
    font: italic small-caps bold 24px/2 cursive;
}

.info .score {
    display: flex;
    justify-content: center;
    color: rgb(255, 255, 255);
    font: italic small-caps bold 24px/2 cursive;
}

.info .gameover {
    text-align: center;
    color: rgb(163, 48, 48);
    font: italic small-caps bold 36px/2 cursive;
    visibility: hidden;
} 

.gameover{
    display: block;
}

.tetris{
    display: grid;
    grid-template-columns: repeat(10, auto);
}

.tetris div{
    height: min(4vh, 7vw);
    width: min(4vh, 7vw);
    background: rgba(255, 255, 255, 0.514);
    box-shadow: 
        inset 1px 1px 1px rgb(129, 127, 150),
        inset -1px -1px 1px rgb(66, 63, 95)
    ;
}

.tetris .O{
    background: rgb(207, 0, 0, 0.5);
}

.tetris .I{
    background: rgba(2, 184, 26, 0.5);
}

.tetris .L{
    background: rgb(0, 0, 180, 0.5);
}

.tetris .T{
    background: rgba(204, 134, 5, 0.5);
}

.tetris .Z{
    background: rgb(167, 0, 92, 0.5);
}

.tetris .S{
    background: rgb(0, 89, 172, 0.5);
}

.tetris .J{
    background: rgba(99, 1, 165, 0.5);
}